<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Minecraft WebRCON</title>
</head>
<body>
<div class="container-fluid height-100" id="container">
    <div class="card height-100 courier-new border-0">
        <div class="card-body height-100 border-0" id="chatBox">
        </div>
        <div class="card-footer bg-transparent border-0" id="inputBox">
            <input autofocus class="form-control border-0 shadow-none" placeholder="Type here" type="text" id="messageInput">
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>